@import "variables";
@import "media-queries";


:root {
  --sidebar-width-used: 0px;
  --sidebar-width-readed: 35vw;
}

@include big {
  :root {
    --sidebar-width-readed: 50vw;
  }
}

@include middle {
  :root {
    --sidebar-width-readed: 100vw;
  }
}

.firstPage {

  header {
    height: 6rem;
    z-index: 10;
    position: fixed;
    background: $background;
    width: 100%;
    padding: 0 var(--header-padding);
    margin: 0;


    .navbar {
      padding: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &_logo {
        position: relative;
        display: flex;
        align-items: center;
        height: 6rem;
        width: auto;
        img {
          height: 6rem;
          padding: 10px;
        }
      }

      &_content {
        font-size: 0.9rem;
        font-weight: 600;

        @include big {
          display: none;
        }

        a {
          text-decoration: none;
          color: #fff;
        }

        p {
          color: $text-color-secundary;
          margin: 0;
        }

        a:hover {
          color: $primary;
          cursor: pointer;
        }
      }
    }
  }
}