@import "variables";
@import "media-queries";


:root {
  --sidebar-width-used: 0px;
  --sidebar-width-readed: 35vw;
}

@include big {
  :root {
    --sidebar-width-readed: 50vw;
  }
}

@include middle {
  :root {
    --sidebar-width-readed: 100vw;
  }
}

.firstPage {

  header {
    height: 6rem;
    z-index: 10;
    position: fixed;
    background: $background;
    width: 100vw;
    padding: 0 var(--header-padding);


    .navbar {
      padding: 0;

      &_logo {
        display: flex;
        align-items: center;
        height: 6rem;
        width: auto;
        text-decoration: none;
        color: inherit;
      }

      &_content {
        padding-left: 15%;
        font-size: 0.9rem;
        font-weight: 600;
        margin-right: 15vw;

        @include big {
          display: none;
        }

        a {
          text-decoration: none;
          color: #fff;
        }

        p {
          color: $text-color-secundary;
          margin: 0;
        }

        a:hover {
          color: $primary;
          cursor: pointer;
        }
      }
    }
  }
}