@import "media-queries";


.umgebung {
    padding-top: 100px;
    margin-bottom: 50px;

    @include middle {
        padding: 100px 20px 0 20px !important;
    }

    &_imageDiv {
        margin-top: 30px;

        &_images {
            margin-top: 24px !important;
            position: relative;


            img {
                width: 100%;
            }

            .umgebung_imageText {
                display: block;
                padding: 15px 20px 0 20px;
                height: 100%;
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
                transition: 1s ease;

                h3 {
                    font-size: 1.6rem;
                    animation: animateTextHeadline 1s;
                }

                p {
                    color: $text-color-secundary;
                    font-size: 0.8rem;
                    margin: 0;
                }

                a {
                    color: $primary;
                    font-size: 0.8rem;
                    text-decoration: none;
                    position: absolute;
                    bottom: 10px;
                    left: 20px;
                    z-index: 1;
                }

            }
        }

        &_images:hover {

            img {
                opacity: 0;
                transition: 0.8s;
            }

            .umgebung_imageText {
                opacity: 1;
            }


            a:hover {
                text-decoration: underline;
            }
            
            .image_border {
                animation: animate 0.5s linear forwards;
            }
        }
       
    }
}

.image {
    position: relative;

    &_border {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        border: 2px solid transparent;
    }
}


@keyframes animate {
    0% {
        width: 0;
        height: 0;
        border-top-color: $primary;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }

    25% {
        width: 100%;
        height: 0;
        border-top-color: $primary;
        border-right-color: $primary;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }

    50% {
        width: 100%;
        height: 100%;
        border-top-color: $primary;
        border-right-color: $primary;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    75% {
        width: 100%;
        height: 100%;
        border-top-color: $primary;
        border-right-color: $primary;
        border-bottom-color: $primary;
        border-left-color: transparent;
    }
    100% {
        width: 100%;
        height: 100%;
        border-top-color: $primary;
        border-right-color: $primary;
        border-bottom-color: $primary;
        border-left-color: $primary;
    }
}

@keyframes animateTextHeadline {
    from {
        color: transparent;
    }

    to {
        color: #fff;
    }
}