@import 'media-queries';

$primary: #cee002;
$primaryHover: #9ba900;

$background: #272727;
$text-color-secundary: #b6b6b6;

$header-padding-big: 60px;
$header-padding-small: 20px;


$sidebar-width: 0;
