@import 'media-queries';

$primary: #cee002;
$background: #272727;
$text-color-secundary: #515558;

$header-padding: 50px;
$sidebar-width: 0;

:root {
    --sidebar-width-used: 0px;
    --sidebar-width-readed: 35vw;
}

@include big {
    :root {
        --sidebar-width-readed: 50vw;
    }
  }

@include middle {
    :root {
        --sidebar-width-readed: 100vw;
    }
  }