@import "_variables";
@import "sectionGeneral";
@import "sectionFirstPage";


::selection {
  background: $primary;
}

body {
  color: white !important;
  background: $background !important;
}

h2 {
  font-weight: 600 !important;
}


