@import "_variables";
@import "sectionGeneral";
@import "sectionFirstPage";
@import "sectionUmgebung";
@import "sectionFooter";
@import "modal";


::selection {
  background: $primary;
}

@font-face {
  font-family: biomeLight; /* set name */
  src: url(/font/BiomeW01-Light.woff2); /* url of the font */
}


@font-face {
  font-family: biomeLight; /* set name */
  src: url(/font/BiomeW01-Regular.woff2); /* url of the font */
  font-weight: bold;
}

body {
  font-family: biomeLight, roboto, Arial, Helvetica, sans-serif !important;
  color: white !important;
  background: $background !important;
}

p, li, body {
  font-size: large;
}

h2, h1 {
  font-weight: 600 !important;
}



::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: $background;
}

::-webkit-scrollbar-thumb {
  background: $primary;
}

* {
  scrollbar-color: $primary $background;
  scrollbar-width: thin;
}