@import "_variables";
@import "sectionGeneral";
@import "sectionFirstPage";
@import "sectionUmgebung";
@import "modal";


::selection {
  background: $primary;
}

body {
  font-family: roboto, Arial, Helvetica, sans-serif !important;
  color: white !important;
  background: $background !important;
}

h2 {
  font-weight: 600 !important;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: $background;
}

::-webkit-scrollbar-thumb {
  background: $primary;
}

* {
  scrollbar-color: $primary $background;
  scrollbar-width: thin;
}